@import url(global.css);

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 24px 96px;
  font-size: 18px;
}

.header__menu {
  margin-top: 5px;
  margin-left: 7px;
}

.link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.link-active {
  border: none;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style: circle;
  /*list-style-position: inside;*/
}

.header__links-list-item {
  /*padding-left: 1px;*/
  margin-left: 16px;
  padding-left: 8px;
  line-height: 1.17389;
  letter-spacing: 0.008rem;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__menu .link {
  margin-left: -5px;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
  height: 105px;
}

.address {
  /*display: flex;*/
  /*flex-direction: column;*/
  
  /*align-items: start;*/
  
  width: 240px;
  
  font-style: normal;
  
}

.header__address {
  justify-self: end;
  /*align-self: center;*/
  margin-top: 5px;
  margin-right: 25px;
  line-height: 135%;
}

.cover {
  position: relative;
  display: grid;
  color: white;
  background: url('/images/cover.jpg') no-repeat center;
  background-size: cover;
}

.cover__title {
  z-index: 2;
  margin: 0 50px;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.cover__description {
  z-index: 2;
  margin-top: 135px;
  padding-bottom: 51px;
  padding-left: 78px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  line-height: 28px;
  letter-spacing: 0;
}

.whitespace-first {
  letter-spacing: 20px;
}

.whitespace {
  letter-spacing: 18px;
}

.bet-button {
  margin-left: 74px;
  border: solid 1px white;
  padding: 12px 32px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: transparent;
}